@keyframes float {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(20px);
    }
}

.floatItem {
    animation: float 5000ms ease-in-out infinite;
}